
  <%@movies.each  do |movie|%>
  <section class="movie">
    <div class="image">
      <%= image_tag movie.image_file_name %>
    </div>
      <div class="summary">
          <h2> <%= link_to movie.title, movie %> </h2>(<%= movie.rating %>):
          <h3><%= total_gross(movie) %> </h3>
          <span class="stars">
            <%= render "shared/stars", percent: movie.average_stars_as_percent %>
          </span>
        <p>
        <%= truncate(movie.description, length:150, separator: ' ')%>
        </p>
        <p><%= movie.released_on %></p>
      </div>
    </section>
  <%end%>

  <% if current_user && current_user.admin? %>
  <section class="admin">
    <%= link_to "Add new movie", new_movie_path, class: "button" %>
  </section>
  <% end %>
