
<section class="movie">
  <div class="summary">
      <h2> <%=@movie.title %> </h2>(<%= @movie.rating %>):
      <p>Released on: <%= year_of(@movie) %></p> 
    <div class="reviews">
      <%= render "shared/stars", percent: @movie.average_stars_as_percent %>
      <%= link_to pluralize(@movie.reviews.size, "review"),
                  movie_reviews_path(@movie) %>
    </div>
      <span class="stars">
        <%= average_stars(@movie) %>
      </span> 
      <p>
        <%= @movie.description%>
      </p>
  </div>
</section>
<section class="movie-details">
  <div class="image">
    <%=image_tag @movie.image_file_name %>
  </div>
  <div class="details">
    <table>
      <tr>
        <th> Director: </th>
        <td> <%= @movie.director %>
      </tr>
      <tr>
        <th> Duration: </th>
        <td> <%= @movie.duration %>
      </tr>
      <tr>
        <th> Toatal Gross: </th>
        <td> <%= @movie.total_gross %>
      </tr>
    </table>
      <%= link_to "Write Review", new_movie_review_path(@movie), class: "review" %>
  </div>
</section>


  <% if current_user && current_user.admin? %>
  <section class="admin">
    <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
    <%= link_to "Delete", movie_path(@movie), class: "button",
        data: { turbo_method: :delete, turbo_confirm: "Really?" } %>
  </section>
  <% end %>

