
<section class="movie">
      <div class="summary">
        <h2> <%=@movie.title %> </h2>(<%= @movie.rating %>):
        <p>Released on: <%= year_of(@movie) %></p>  
        <p>
        <%= @movie.description%>
        </p>
        
       <h3>Total gross: <%= total_gross(@movie) %> </h3>
      </div>
    </section>


    <section class="admin">
      <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
      <%= link_to "Delete", movie_path(@movie), class: "button",
         data: { turbo_method: :delete, turbo_confirm: "Really?" } %>
    </section>
