<section class="user">
    <h1><%= @user.name %></h1>
    <h2><%= mail_to(@user.email) %></h2>
    <%if current_user?(@user)%>
        <% if @reviews.present? %> 
            <h3>Reviews</h3>
            <% @reviews.each do |review| %>
                <div class="review">
                    <div class="details">
                        <span class="title"><%= review.movie.title %></span>
                        <%= pluralize(review.stars, 'star')%>
                        <span class="date"><%= time_ago_in_words(review.created_at)%> ago</span>
                        <p><%= review.comment %></p>
                    </div>
                </div>
            <% end %>
        <% end %>
        <div class="actions">
            <%= link_to "Edit Account", edit_user_path(@user),
                            class: "button edit" %>
            <%= link_to "Remove Account", @user, class: "button delete",
                        data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete your account?"} %>
        </div>
    <% end %>
</section>