
<h1> Reviews for <%= link_to @movie.title, @movie %></h1>
<ul class="reviews">
  <% if @reviews.present? %>
    <% @reviews.each do |review| %>
      <li>
        <%= render "shared/stars", percent: review.stars_as_percent %>
          <p> <%=link_to review.user.name, review.user %>
            <span class="date">
            <%= time_ago_in_words(review.created_at)%> ago
            </span>
          </p>
            <%= review.comment %>
          </li>
    <% end %>
  <% end %>
</ul>

